
# Ignore any local builds during modification
build/*

# Ignore any .pyc files and local .o/.so files that get created during local 
# development as well as the .out files from the test scripts 
*.o
*.so
*.pyc
*.out 

# Ignore local copies of Cython compiler outputs
vice/core/*.c 
vice/yields/agb/*.c 
vice/yields/ccsne/*.c 
vice/yields/sneia/*.c 

# A local script that takes the output from the FRUITY database and processes 
# it into the .dat files packaged with VICE
vice/data/_agb_yields/yield_processor.py

# Elements for which we’re getting yields
vice/data/_agb_yields/c.dat
vice/data/_agb_yields/n.dat
vice/data/_ccsne_yields/rotating/c.dat
vice/data/_ccsne_yields/nonrotating/c.dat


