
# Local scripts for building distributions 
dist.sh 
dist_x86_64.sh 

# Ignore any .pyc files and local .o/.so files that get created during local 
# development as well as the .out files from the test scripts 
*.o
*.so
*.pyc
*.out 
*.vice 
*.DS_Store 

# Ignore all figures 
*.pdf 
*.png 

# Ignore local copies of Cython compiler outputs
vice/core/*.c
vice/*.c 
vice/_build_utils/*.obj 
vice/modeling/*.c 

# Ignore locally compiled documentation 
docs/vice.pdf 
docs/src/_build/* 
docs/src/users_guide/pkgcontents/*.rst 

# source installation artifacts 
vice.egg-info/* 
UNKNOWN.egg-info/* 
dist/*
build/*

# tutorial checkpoints 
examples/.ipynb_checkpoints/*.ipynb

# Sublime files 
*.sublime-workspace 
*.sublime-project

# h277 source file -> too large for GitHub 
vice/toolkit/hydrodisk/data/h277/processor/h277_particles_150Myr.fits 



