
# Ignore any local builds during modification
build/*

# Not yet finished with Travis-CI integration
.travis.yml

# Ignore any .pyc files and local .o/.so files that get created during local 
# development as well
*.o
*.so
*.pyc

# Ignore local copies of Cython compiler outputs
vice/core/_data_management.c
vice/core/_mpl.c
vice/core/_wrapper.c 
vice/data/_ccsne_yields/yield_integrator.c

# A local script that takes the output from the FRUITY database and processes 
# it into the .dat files packaged with VICE
vice/data/_agb_yields/yield_processor.py

# This file will be released after the accompanying paper
JW18/*

# Elements for which we’re getting yields
vice/data/_agb_yields/c.dat
vice/data/_agb_yields/n.dat
vice/data/_ccsne_yields/rotating/c.dat
vice/data/_ccsne_yields/nonrotating/c.dat


