language: python  
sudo: required 
os: linux 
dist: xenial    # required for python >= 3.7  
python: 
  - 2.7 
  - 3.5 
  - 3.6 
  - 3.7  
env: 
  - COMPILER=gcc CYTHON_VERSION=0.28.6 
  - COMPILER=gcc CYTHON_VERSION=0.29.13 
  - COMPILER=clang CYTHON_VERSION=0.28.6 
  - COMPILER=clang CYTHON_VERSION=0.29.13 

matrix: 
  fast_finish: true 

notifications: 
  email: 
    recipients: 
      - giganano9@gmail.com 
    on_success: change 
    on_failure: always 

addons: 
  apt: 
    sources: 
      - ubuntu-toolchain-r-test 
      - llvm-toolchain-precise-3.6
    packages: 
      - gcc-4.6 
      - clang-3.6

before_install: 
  - pip install Cython==$CYTHON_VERSION --install-option="--no-cython-compile" 
  - python --version 
  - make --version 

install: 
  - make -r CC=$COMPILER 
  - python setup.py install 
  - make clean 

script: 
  - make tests 

branches: 
  only: 
    - master 
    
    